<div id="wallpaper" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#wallpaper" data-slide-to="0" class="active"></li>
      <li data-target="#wallpaper" data-slide-to="1"></li>
      <li data-target="#wallpaper" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
            <img class="card-img-top responsive" src="https://images.unsplash.com/photo-1506808541308-577f3be75bb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="height: 400px; width: 100%" alt="medicare img">
          <div class="carousel-caption">
              <h2 style="color:rebeccapurple">Did You Have Your Right Diet? </h2>
              <p style="color:red">"An Apple A Day Keeps The Doctor Away!"</p>
          </div>
          
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img class="card-img-top responsive" src="https://images.unsplash.com/photo-1559019727-963e0a4eab74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80" style="height: 400px; width:100%" alt="medicare img">
            <div class="carousel-caption">
              <h2 style="color:rebeccapurple">Medicare Made Easy</h2>
              <p style="color:red">A Guide To Choose Your Health Coverage</p>
            </div>
        </div>   
      </div>
      <div class="carousel-item">
        <div class="card">
          <img  class="card-img-top responsive" src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" style="height: 400px; width:100%" alt="medicare img">    
          <div class="carousel-caption">
              <h2 style="color:rebeccapurple">World's Best Doctors</h2>
              <p style="color:red">The Best Doctor Gives The Least Medicines.</p>
              <p style="color:red">We are here to help you with the best Physicians and Nutritionists.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#wallpaper" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#wallpaper" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="jumbotron">
      <div class="container">
          <h3 style="color:rebeccapurple">Set foot in as??</h3>
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1556745753-b2904692b3cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="customer image" style="height: 250px">
                <button class="btn btn-success" (click)='login("customer")'>Customer</button>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1438354886727-070458b3b5cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="admin image" style="height: 250px">
                <button class="btn btn-success" (click)='login("admin")'>Administrator</button>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12">
              <div class="card">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="doctor image" style="height: 250px">
                <button class="btn btn-success" (click)='login("doctor")'>Doctor</button>
              </div>
            </div>  
          </div>
      </div>
    </div>