<form [formGroup]="signupFormAdmin" (submit)="signup(signupFormAdmin)">
    <div class="container mt-5">
            <div class="form-row">
                <div class="form-group col-lg-3 col-md-12 col-sm-12 col-12"></div>
                <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12 border rounded p-3">
                    <h3>Signup</h3>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <span *ngIf="existingUserStatus">
                                <span class="alert alert-danger">Already Existing User!!! Go to 
                                    <a routerLink="/login" routerLinkActive="active-link">login</a>.
                                </span>
                            </span>
                        </div> 
                    </div>
                    <div class="form-row">
                          <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                                  <label for="userName">User Name</label>
                                  <input 
                                      type="text" 
                                      class="form-control" 
                                      id="userName" 
                                      name="userName" 
                                      placeholder="Enter User Name"
                                      formControlName="userName"/>
                                      <div *ngIf="!signupFormAdmin.get('userName').valid && signupFormAdmin.get('userName').touched" 
                                          class="err-mssg-style">Username is mandatory with minimum of 3 characters.
                                      </div>    
                          </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                            <label for="firstName">First Name</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="firstName" 
                                name="firstName" 
                                placeholder="Enter First Name"
                                formControlName="firstName"/>
                                <div *ngIf="!signupFormAdmin.get('firstName').valid && signupFormAdmin.get('firstName').touched" 
                                    class="err-mssg-style">Firstname is mandatory with minimum of 3 characters.
                                </div>    
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                            <label for="lastName">Last Name</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="lastName" 
                                name="lastName" 
                                placeholder="Enter Last Name"
                                formControlName="lastName"/>
                            <div *ngIf="!signupFormAdmin.get('lastName').valid && signupFormAdmin.get('lastName').touched" 
                                class="err-mssg-style">Lastname is mandatory with minimum of 3 characters.
                            </div>    
                        </div>
                       
                          <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                            <label for="age">Age</label>
                            <input 
                                type="number" 
                                class="form-control" 
                                id="age" 
                                name="age" 
                                placeholder="Enter Age"
                                formControlName="age"/>
                            <div *ngIf="!signupFormAdmin.get('age').valid && signupFormAdmin.get('age').touched" 
                                class="err-mssg-style">Age is mandatory.
                            </div>    
                          </div>
                          <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12" formGroupName="division">
                            <label for="gender">Gender</label>
                            <select class="form-control" name="gender" formControlName="gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>	
                          </div>
                          <div class="form-group col-lg-6 col-md-12 col-sm-12">
                            <label for="dateOfBirth">Date of Birth</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="dateOfBirth" 
                                name="dateOfBirth" 
                                placeholder="dd/mm/yyyy"
                                formControlName="dateOfBirth"/>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 err-mssg-style" 
                                    *ngIf="!signupFormAdmin.get('dateOfBirth').valid && signupFormAdmin.get('dateOfBirth').touched">
                                        Date of Birth is mandatory.
                                 </div>
                          </div>
                        
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="contact">Contact Number</label>
                          <input 
                              type="text" 
                              class="form-control" 
                              id="contact" 
                              name="contact" 
                              placeholder="Enter Contact Number"
                              formControlName="contactNumber"/>
                          <div *ngIf="!signupFormAdmin.get('contactNumber').valid && signupFormAdmin.get('contactNumber').touched" 
                              class="err-mssg-style">Contact Number is mandatory with 10 characters.
                          </div>    
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                          <label for="altcontact">Alternate Contact Number</label>
                          <input 
                              type="text" 
                              class="form-control" 
                              id="altcontact" 
                              name="altcontact" 
                              placeholder="Enter Alternate Contact Number"
                              formControlName="altContactNumber"/>
                          <div *ngIf="!signupFormAdmin.get('altContactNumber').valid && signupFormAdmin.get('altContactNumber').touched" 
                              class="err-mssg-style">Alternate Contact Number is mandatory with 10 characters.
                          </div>    
                        </div>
                        <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                          <label for="email">Email Id</label>
                          <input 
                              type="text" 
                              class="form-control" 
                              id="email" 
                              name="email" 
                              placeholder="Enter Email Id"
                              formControlName="emailId"/>
                          <div *ngIf="!signupFormAdmin.get('emailId').valid && signupFormAdmin.get('emailId').touched" 
                              class="err-mssg-style">Email Id is mandatory with minimum of 5 characters.
                          </div>    
                        </div>
                        <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                          <label for="psw">Password</label>
                          <input 
                              type="password" 
                              class="form-control" 
                              id="psw" 
                              name="psw" 
                              placeholder="Enter Password"
                              formControlName="password"/>
                          <div *ngIf="!signupFormAdmin.get('password').valid && signupFormAdmin.get('password').touched" 
                              class="err-mssg-style">Password is mandatory with minimum of 8 characters.
                          </div>    
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                            <button type="submit" class="btn save-btn-style" [disabled]="!signupFormAdmin.valid">Signup</button>
                        </div>
                      </div>
                </div>
                <div class="form-group col-lg-3 col-md-12 col-sm-12 col-12"></div>
            </div>	
    </div>        
  </form>
  

